*{
	font-family: Helvetica, sans-serif;
}

#index{
  color: #488aff;
}

.nav{
	list-style: none;
	display: flex;
}

.navLi{
	margin-right: 15px;
}

a{
	text-decoration: none;
}

input{
	padding: 10px 5px;
	width: 300px;
	font-size: 14px;
}

button{
	text-align: center;
	background-color: #666;
	color: #fff;
	padding: 10px 5px;
	width: 50;
}

.imgArt{
	  display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: center;
}
.imgArt img{
	width: 330px;
}

.ulArt{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer{
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 15px;
}